$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$accent-color: tomato;
$secondary-color: #ccc;
$white-color: #ffffff;

$section-pt: 30px;
$section-pb: 60px;

$card-gap: 30px;

$cubik: cubic-bezier(0.4, 0, 0.2, 1);
