.gallery {
  padding-top: $section-pt;
  padding-bottom: $section-pb;
}
.gallery-list {
  margin-bottom: 30px;
}

.gallery-list__card {
  background-color: $white-color;
  transition: box-shadow 250ms $cubik;
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &-content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;

    &__card {
      display: flex;
      flex-basis: calc(100% / 2 - 30px);
      margin-left: $card-gap;
      margin-top: $card-gap;

      &:not(:last-child) {
        margin-bottom: unset;
      }
    }

    &__link {
      display: flex;
      flex-direction: column;
    }

    &__card-content {
      flex-grow: 1;
    }
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: $section-pt;
    padding-bottom: $section-pb;
  }

  .gallery-list {
    &__card {
      flex-basis: calc(100% / 3 - 30px);
    }
  }
}
@media screen and (min-width: 1400px) {
  .gallery-list {
    &__card {
      flex-basis: calc(100% / 4 - 30px);
    }
  }
}
